@import "../../variables.scss";

.word-form {
  // &__content {
  //   padding: 25px 20px;
  // }
  &__content-title {
    @include RobotoCondensedFont;
    padding: 20px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: $title-color;
  }
  &__content-inputs {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 16px;
  }
  &__content-input {
    display: flex;
    align-items: center;
  }
  &__content-label {
    @include OpenSansFont;
    width: 240px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.15px;
    color: $title-color;
  }
  &__buttons {
    display: flex;
    gap: 16px;
  }
}
