.currency-exchange {
  padding: 50px 0;
  background-color: #ebf3fb;
  min-height: 100vh;
}

.currency-exchange__wrapper {
  margin: 0 auto;
  width: 900px;
  background-color: #fff;
  box-shadow: 20px 20px 30px rgb(0 0 0 / 20%);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.currency-exchange__header {
  margin-bottom: 12px;
}

.currency-exchange__purchased {
  font-size: 16px;
  color: var(--description-color);
}

.currency-exchange__payment {
  font-size: 36px;
  color: var(--title-color);
}
