.currency-exchange {
  padding: 50px 0;
  background-color: #ebf3fb;
  min-height: 100vh;
}

.currency-exchange__wrapper {
  margin: 0 auto;
  width: 700px;
  background-color: #fff;
  box-shadow: 20px 20px 30px rgb(0 0 0 / 20%);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.currency-exchange__header {
  margin-bottom: 12px;
}

.currency-exchange__purchased {
  font-size: 16px;
  color: var(--description-color);
}

.currency-exchange__payment {
  font-size: 36px;
  color: var(--title-color);
}

.currency-exchange__content-date {
  font-size: 12px;
  color: var(--description-color);
  margin-bottom: 12px;
}

.currency-exchange__description {
  margin: 0 auto;
  width: 100%;
  position: relative;
  text-align: center;
}

.currency-exchange__description::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #dadce0;
  z-index: 1;
}

.currency-exchange__description-btn {
  margin: 0 auto;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 10;
}

.currency-exchange__arrow {
  line-height: 0;
}

.currency-exchange__arrow svg {
  width: 16px;
  height: 16px;
}

.currency-exchange__arrow svg path {
  fill: var(--description-color);
}
