.loader {
  padding-top: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 300px;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-color);
  font-weight: 700;
  border-radius: 20px;
}
