@import "../../variables.scss";

.quiz-game {
  &__round {
    color: #476185;
    @include OpenSansFont;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 16px;
  }

  &__content-inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__content-input {
    display: flex;
    align-items: center;
  }
  &__content-label {
    @include OpenSansFont;
    width: 240px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.15px;
    color: $title-color;
  }
  &__buttons {
    display: flex;
    gap: 16px;
  }
}
