@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;1,700&family=Roboto+Condensed:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #eff2f5;
  @include RobotoCondensedFont;
  font-weight: 400;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

section {
  padding: 40px 0;
}

.button {
  @include OpenSansFont;
  padding: 10px;
  font-weight: 700;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: $accent-color;
  color: #fff;
  border-radius: 4px;
  transition: all 0.35s ease;
  &:hover {
    background-color: $accent-hover-color;
  }
  &--inverted {
    background-color: #fff;
    color: $accent-color;
    &:hover {
      background-color: $white-hover-color;
    }
  }
}

