.button {
  padding: 8px 40px;
  border-radius: 25px;
  border: none;
  color: #fff;
  transition: all 0.3s ease;
  background: var(--gray-color);
  color: var(--title-color);
  cursor: pointer;
}

.button:hover {
  background: var(--gray-active-color);
}
