.currency-select {
  border: 1px solid #dadce0;
  display: flex;
  padding: 1px;
  border-radius: 6px;
}

.currency-select:hover {
  border-color: var(--title-color);
}

.currency-select__input {
  background-color: #fff;
  margin: 0;
  overflow: hidden;
  text-align: left;
  line-height: 24px;
  -moz-appearance: textfield;
  padding: 1px 6px 1px 12px;
  font-size: 16px;
  font-family: arial, sans-serif;
  border: 0;
  height: 40px;
  width: 100px;
  color: #4d5156;
}
.currency-select__divider {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 30px;
  background-color: #dadce0;
}

.currency-select__area {
  background-color: #fff;
  overflow: hidden;
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  width: 100%;
}

.currency-select__angle {
  position: absolute;
  right: 20px;
  line-height: 0;
}

.currency-select__angle svg {
  width: 16px;
  height: 16px;
}

.currency-select__name {
  padding: 0 20px;
}

.currency-select__area:focus-within {
  background-color: #f8f9fa;
}

.currency-select__select {
  /* -webkit-appearance: none; */
  opacity: 0;
  z-index: 1;
  /* line-height: 40px; */
  height: 40px;
  width: 100%;
  position: absolute;
  right: 0;
  font-size: 15px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}
